@page "/categoria/listar"

<h3>Categorias</h3>

<table>
    <tr>
        <th>Descrição</th>
        <th>Cor</th>
    </tr>
    <tr>
        <td>Suspense</td>
        <td>Rosa</td>
    </tr>
    <tr>
        <td>Ação</td>
        <td>Amarelo</td>
    </tr>
</table>

@code {

}
