@page "/categoria/listar"

<h3>Categorias</h3>

<RadzenButton Text="Hi"></RadzenButton>

<table>
    <tr>
        <th>Descrição</th>
        <th>Cor</th>
    </tr>
    <tr>
        <td>Suspense</td>
        <td>Rosa</td>
    </tr>
    <tr>
        <td>Ação</td>
        <td>Amarelo</td>
    </tr>
</table>

@code {
    List<Categoria> categorias;

    protected override void OnInitialized()
    {
        categorias.Add(new Categoria{ Codigo = 1, Descricao = "Suspense", Cor = "Vermelha"});
        categorias.Add(new Categoria { Codigo = 2, Descricao = "Romance", Cor = "Rosa" });
        categorias.Add(new Categoria { Codigo = 3, Descricao = "Terror", Cor = "Preto" });
        categorias.Add(new Categoria { Codigo = 4, Descricao = "Comédia", Cor = "Amarelo" });
        categorias.Add(new Categoria { Codigo = 5, Descricao = "Ação", Cor = "Azul" });
        categorias.Add(new Categoria { Codigo = 6, Descricao = "Drama", Cor = "Cinza" });

        base.OnInitialized();
    }
}
