@page "/categoria/listar"

@using PWFilmes.Domain


<h3>Categorias</h3>

<RadzenDataGrid
     AllowFiltering="true" 
     AllowColumnResize="true" 
     AllowAlternatingRows="true" 
     FilterMode="FilterMode.Advanced"
     AllowSorting="true"
     PageSize="5" 
     AllowPaging="true" 
     PagerHorizontalAlign="HorizontalAlign.Left"
     ShowPagingSummary="true"
     Data="@categorias"
     TItem="Categoria" 
     ColumnWidth="300px" 
     LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Categoria" Property="Codigo" Title="Código" Width="100px" />
        <RadzenDataGridColumn TItem="Categoria" Property="Descricao" Title="Descrição"/>
        <RadzenDataGridColumn TItem="Categoria" Property="Cor" Title="Cor" Width="80px" />
    </Columns>
</RadzenDataGrid>

@code {
    List<Categoria> categorias = new List<Categoria>();

    protected override void OnInitialized()
    {
        categorias.Add(new Categoria { Codigo = 1, Descricao = "Suspense", Cor = "Vermelha"});
        categorias.Add(new Categoria { Codigo = 2, Descricao = "Romance", Cor = "Rosa" });
        categorias.Add(new Categoria { Codigo = 3, Descricao = "Terror", Cor = "Preto" });
        categorias.Add(new Categoria { Codigo = 4, Descricao = "Comédia", Cor = "Amarelo" });
        categorias.Add(new Categoria { Codigo = 5, Descricao = "Ação", Cor = "Azul" });
        categorias.Add(new Categoria { Codigo = 6, Descricao = "Drama", Cor = "Cinza" });

        base.OnInitialized();
    }
}
