@page "/categoria-editar/{codigoCategoria:int}"


@using PWFilmes.Domain;
@using System.Text.Json;
@using System.Net;

@inject HttpClient Http;
@inject NavigationManager NavigationManager;

<h3>Editar Categoria</h3>

<EditForm Model="categoriaModel" OnValidSubmit="Confirmar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <RadzenRow class="rz-mb-4">
        <RadzenColumn Size="2">
            <RadzenFormField Text="Código"
                             Style="width: 100%;">
                <RadzenNumeric @bind-Value="categoriaModel.Codigo"
                               Style="width: 100%;"
                               Disabled />
            </RadzenFormField>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="9">
            <RadzenFormField Text="Descrição" Style="width: 100%;">
                <RadzenTextBox Style="width: 100%;"
                               @bind-Value="categoriaModel.Descricao" />
            </RadzenFormField>
            <ValidationMessage For=@(() => categoriaModel.Descricao) />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenFormField Text="Cor" Style="width: 100%;">
                <RadzenColorPicker Style=" width: 100%;"
                                   @bind-Value="categoriaModel.Cor"
                                   ShowButton="true" />
            </RadzenFormField>
            <ValidationMessage For=@(() => categoriaModel.Cor) />
        </RadzenColumn>
    </RadzenRow>
    <RadzenStack Orientation="Orientation.Horizontal" 
                 JustifyContent="JustifyContent.End"
                 Style="width: 100%" class="rz-mt-4">
        <RadzenButton Icon="delete_forever" 
                      ButtonStyle="ButtonStyle.Danger" 
                      Text="Cancelar"
                      class="rz-border-radius-10"
                      Click="Cancelar"/>
        <RadzenButton Icon="done" 
                      ButtonStyle="ButtonStyle.Success"
                      Text="Confirmar"
                      ButtonType="ButtonType.Submit"
                      class="rz-border-radius-10" />
    </RadzenStack>
</EditForm>

@codigoCategoria

@code {
    [Parameter]
    public int codigoCategoria { get; set; }

    Categoria categoriaModel;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync($"api/Categoria/obter/{codigoCategoria}");
        var content = await response.Content.ReadAsStringAsync();
        var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
        categoriaModel = JsonSerializer.Deserialize<Categoria>(content, options);

        await base.OnInitializedAsync();
    }

    public async void Confirmar()
    {
        var categoriaJson = JsonContent.Create(categoriaModel);
        var response = await Http.PutAsync("api/Categoria/atualizar", categoriaJson);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
            NavigationManager.NavigateTo("categoria/listar");
    }

    public void Cancelar()
    {
        NavigationManager.NavigateTo("categoria/listar");
    }
}

